%ul.more
  %li
    = link_to '風景', "/tweets?category_id=1"
  %li
    = link_to 'ポートレート', "/tweets?category_id=2"
  %li
    = link_to 'スナップ', "/tweets?category_id=3"
  %li
    = link_to 'ペット・生物', "/tweets?category_id=4"
  %li
    = link_to '花・植物', "/tweets?category_id=5"
  %li
    = link_to '自然', "/tweets?category_id=6"
  %li
    = link_to '鉄道', "/tweets?category_id=7"
  %li
    = link_to '車・バイク', "/tweets?category_id=8"
  %li
    = link_to '食事・料理', "/tweets?category_id=9"
  %li
    = link_to '水中写真', "/tweets?category_id=10"
  %li
    = link_to '趣味', "/tweets?category_id=11"
  %li
    = link_to 'フィギュア', "/tweets?category_id=12"
  %li
    = link_to 'モノクローム', "/tweets?category_id=13"
  %li
    = link_to '旅行', "/tweets?category_id=14"
  %li
    = link_to 'ファッション', "/tweets?category_id=15"
  %li
    = link_to 'スポーツ', "/tweets?category_id=16"
  %li
    = link_to 'スチルライフ', "/tweets?category_id=17"
  %li
    = link_to '都市風景', "/tweets?category_id=18"
  %li
    = link_to 'その他', "/tweets?category_id=19"