= link_to "/tweets/#{tweet.id}", method: :get do
  .content_post{:style => "width:100%;background-image: url(#{tweet.image});"}
    %span.title
      = tweet.title
    %span.name
      = tweet.user.nickname