- if user_signed_in?
  .header
    .headerin
      .inner
        .mainnav
          .category
            %label{:for => "label1"} Category
            %input#label1{:type => "checkbox"}/
            = render 'tweets/category'
          .search
            = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |f|
              = f.text_field :keyword, placeholder: "タイトルを検索", class: "search-input"
              = f.submit "検索", class: "search-btn"
        .title
          = link_to "/" do
            %h1 STUDIO PHT
        .mainbtn
          .tweet
            = link_to  "投稿する", "/tweets/new", class: "post"
          .sign_up
            = link_to "マイページ", "/users/#{current_user.id}"
          .sign_in
            = link_to "ログアウト", destroy_user_session_path, method: :delete
    #slider.slider
      - @tweets.each do |tweet|
        = link_to "/tweets/#{tweet.id}", method: :get do
          .content_post{:style => "background-image: url(#{tweet.image});"}
            .content_post__title
              = tweet.title
            .content_post__nickname
              = tweet.user.nickname
    .contents
      .view
        - @tweets.each do |tweet|
          = render partial: "tweet", locals: {tweet: tweet}
      = paginate(@tweets)
- else
  .header
    .headerwrap
      .inner
        .title
          %h1 STUDIO PHT
        .mainbtn
          .sign_up
            = link_to "新規登録", new_user_registration_path
          .sign_in
            = link_to "ログイン", new_user_session_path
  %main
    .inner
      %section.mv.opacity
        .topview{:style => "width: 100%;background-image: url(\"https://www.pakutaso.com/shared/img/thumb/171116AMEMAN011_TP_V.jpg\");"}
          .maincopy
            %h2.subtitle
              THAT WAS
              %br/
              A VERY
              %br/
              WONDERFUL
              %br/
              TIME
          .guide
            .left
              .info
                Latest Info
              .data
                2020.1.16
              .comment
                旅の始まりと静かな湖
            .right{:style => "background-image: url(\"https://studio-has.jp/wp-content/uploads/2020/01/20200114.jpg\");"}
      %section.latest
        .latestinner
          .latestinner__title
            %h3 あなたの素敵な一番を
            %p あなたの素敵な一枚を
          .latestinner__text
            ここはみんなの好きが集まる場所
            %br/
            みんなが楽しい気分になれる場所
            %br/
            見たこともない行ったこともない場所を
            %br/
            体験しているかのような気分になれる場所
            %br/
            あなたの好きな一枚、素敵な一番を
            %br/
            共有してみませんか？
          .latestinner__images
            .latestinner__images__image1{:style => "background-image: url(\"https://www.pakutaso.com/shared/img/thumb/elly20160628092222_TP_V.jpg\");"}
            .latestinner__images__image2{:style => "background-image: url(\"https://www.pakutaso.com/shared/img/thumb/NS642_antero-pukyanionsuna_TP_V.jpg\");"}
            .latestinner__images__image3{:style => "background-image: url(\"https://www.pakutaso.com/shared/img/thumb/MIYA151230489758_TP_V.jpg\");"}
            .latestinner__images__image4{:style => "background-image: url(\"https://www.pakutaso.com/shared/img/thumb/MIYADSC_3425-3_TP_V.jpg\");"}
    .footer
      .inner
        .left
          %p STUDIO PHTについて
          %ul
            %li STUDIO PHTニュース
            %li ご利用ガイド
            %li Q & A
            %li お問い合わせ
        .center
          %p ご利用にあたって
          %ul
            %li 利用規約
            %li ガイドライン
            %li 特定商取引法に基づく表記
            %li 個人情報保護法方針
        .right
          %p 公式アカウント
          %ul
            %li Facebook公式
            %li Twitter公式アカウント
        .logo
          ©︎STUDIO PHT