.row
  .container
    = form_with(model: @tweet, local: true) do |f|
      %h3
        投稿する
      = render 'shared/error_messages', model: f.object
      = f.text_field :title, placeholder: "タイトル"
      = f.collection_select :category_id, Category.all, :id, :name, { prompt: "選択してください" } 
      = f.file_field :image
      -# = f.text_field :image, placeholder: "投稿画像"
      = f.text_area :text, placeholder: "コメント" , rows: "10"
      = f.submit "SEND"
